* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  margin: 2rem;
}
main {
  margin: 2rem;
}
footer {
  margin: 2rem;
  padding-top: 4rem;
}

h1 {
  font-family: "Cactus Classical Serif", serif;
  color: black;
  font-weight: 800;
  text-align: center;
}

h2 {
  font-family: "Cactus Classical Serif", serif;
  color: black;
  font-weight: 800;
  padding-bottom: 5rem;
  text-align: center;
}
h3 {
  font-family: "Cactus Classical Serif", serif;
  font-size: 16px;
  color: black;
  font-weight: bolder;
  padding-top: 1rem;
  padding-bottom: 0.3rem;
}
a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: green;
  font-weight: 400;
  text-decoration: none;
}
p {
  font-family: "Cactus Classical Serif", serif;
  color: rgb(74, 72, 72);
  font-weight: lighter;
}

/*******Menu*******/
header {
  position: sticky;
  top: 0;
  z-index: 1000; /**Fundet hjælp på ChatGPT!**/
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid black;
  background-color: white;
  box-shadow: 0 12px 28px 0 rgb(238, 238, 238);
}

header nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 0.4rem;
  gap: 30px;
  overflow-x: auto;
}

.menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: green;
  transition: color 0.3s;
}
/* .menu a:hover {
  color: black;
} */

a:hover {
  color: black;
  font-size: 18px;
  font-weight: bolder;
  transition: all 500ms;
  font-size-adjust: 20px;
}

/**INDEX SITE**/
/** Moving text 1 MOBILE, Codepen**/
.welcome-container {
  position: relative;
  overflow: hidden;
  height: 120px;
  width: 1400px;
}

.welcome {
  position: absolute;
  width: auto;
  right: 0;
  top: 0;
  text-align: right;
}

.welcome-text {
  display: inline-block;
  position: relative;
  width: auto;
  white-space: nowrap;
  font-size: 80px;
}

/**Kategori site**/
.categories {
  display: flex;
  gap: 2rem;
  justify-content: center;
  position: relative;
}

.btn {
  width: 15rem;
  height: 10rem;
  background-color: white;
  border: 3px solid;
  padding: 1rem;
  border-color: green;
  text-align: center;
  padding-top: 4rem;
}
.btn a:hover {
  color: black;
  cursor: pointer;
}

/* div a {
  padding-top: 4rem;
} */

/**Styling af produkt liste site**/
.product {
  display: grid;
  grid-template-columns: (4, 1fr);
  gap: 1rem;
  text-align: center;
}

img {
  width: 300px;
}

/**Styling af produkt site**/

.product_info {
  display: grid;
  grid-template-columns: (4, 1fr);
}
.productpic {
  width: 500px;
}

/**Relevante classes**/
.product_list_categories {
  position: relative;
}
.on_sale {
  background-color: red;
  color: white;
  font-size: 14px;
  line-height: 2;
  padding: 4px;
  position: absolute;
  top: 0;
  right: 393px;
}

.sold_out {
  background-color: rgb(1, 1, 1);
  color: white;
  font-size: 14px;
  line-height: 2;
  padding: 4px;
  position: absolute;
  bottom: 130px;
  right: 394px;
}

button {
  width: 8rem;
  height: 3rem;
  margin-top: 3rem;
  border-color: green;
  background-color: white;
  color: green;
}

/* *Produkt info, hvordan kobler jeg det på??*
.caps {
    "id": 1535,
    "gender": "Unisex",
    "category": "Accessories",
    "subcategory": "Headwear",
    "articletype": "Caps",
    "season": "Fall",
    "productionyear": 2010,
    "usagetype": "Sports",
    "productdisplayname": "Unisex Logo Cap",
    "price": 699,
    "discount": null,
    "brandname": "Puma",
    "soldout": 0
}

.tshirt {
    "id": 1538,
    "gender": "Men",
    "category": "Apparel",
    "subcategory": "Topwear",
    "articletype": "Tshirts",
    "season": "Fall",
    "productionyear": 2010,
    "usagetype": "Casual",
    "productdisplayname": "Track Black T-shirt",
    "price": 1799,
    "discount": 47,
    "brandname": "Puma",
    "soldout": 0
  }

.shoes {
        "id": 1543,
        "gender": "Men",
        "category": "Footwear",
        "subcategory": "Shoes",
        "articletype": "Casual Shoes",
        "season": "Fall",
        "productionyear": 2010,
        "usagetype": "Casual",
        "productdisplayname": "Basket-Biz Sneaker",
        "price": 3499,
        "discount": null,
        "brandname": "Puma",
        "soldout": 0
}

.football {
    "id": 1550,
    "gender": "Unisex",
    "category": "Sporting Goods",
    "subcategory": "Sports Equipment",
    "articletype": "Footballs",
    "season": "Fall",
    "productionyear": 2010,
    "usagetype": "Sports",
    "productdisplayname": "Cat Trainer-BL Football",
    "price": 999,
    "discount": 51,
    "brandname": "Puma",
    "soldout": 0
  } */

/**Categories**/
/* [
  {
    "category": "Accessories"
  },
  {
    "category": "Apparel"
  },
  {
    "category": "Footwear"
  },
  {
    "category": "Sporting Goods"
  }
] */
